<!DOCTYPE html>
<html>
<head>
  <title>Logan-Blog | Real Talk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="logo">
  <%= link_to image_tag('http://logosvector.net/wp-content/uploads/2013/08/dacia-logan-vector-logo.png'), root_path %>
</div>
<div class= "nav-bar">
  <ul></ul>
</div>

<%= yield %>

</body>
<footer>
  
</footer>
</html>
